{% extends "base.html" %}

{% block body %}


<link href="/static/css/login.css" rel="stylesheet">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/task/pending">Todo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li> 
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
	  
	 
      <form class="form-signin" role="form" method=post action="/login">
        <h2 class="form-signin-heading">Login</h2>
  	  {% for message in get_flashed_messages() %}
  	      <div class="alert alert-danger"><div class=flash>{{ message }}</div></div>
  	    {% endfor %}
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input id="remember_me" name="remember_me" type="checkbox" value="remember-me"> Remember me
        </label>
		<a href="/register"><p>Register</p></a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
	
    </div> <!-- /container -->


{% endblock %}